body{
margin:0;
font-family:Poppins, sans-serif;
background:white;
color:#111;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:black;
color:white;
}

.logo{
font-family:'Playfair Display',serif;
font-size:28px;
color:gold;
}

nav a{
margin-left:25px;
text-decoration:none;
color:white;
font-weight:500;
}

.hero{
height:80vh;
background:black;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:48px;
font-family:'Playfair Display',serif;
color:gold;
}

.btn{
margin-top:20px;
padding:12px 25px;
background:gold;
color:black;
text-decoration:none;
font-weight:600;
}

.section{
padding:80px 15%;
text-align:center;
}

.dark{
background:black;
color:white;
}

.grid{
display:flex;
gap:30px;
justify-content:center;
margin-top:40px;
}

.card{
border:1px solid gold;
padding:25px;
width:250px;
}

.why{
list-style:none;
padding:0;
}

.why li{
margin:15px 0;
font-weight:500;
}

footer{
background:black;
color:white;
text-align:center;
padding:20px;
}
