body{
margin:0;
font-family:Poppins, sans-serif;
background:white;
color:#111;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
background:black;
color:white;
}

.logo{
font-family:'Playfair Display', serif;
font-size:34px;
font-weight:600;

background:linear-gradient(
90deg,
#d4af37,
#ffd700,
#f5e6a3,
#d4af37
);

background-size:300%;

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

animation:goldShine 6s linear infinite;
}

.logo img{
height:60px;
width:auto;
}

@keyframes goldShine{
0%{
background-position:0%;
}

100%{
background-position:300%;
}
}

nav a{
margin-left:25px;
text-decoration:none;
color:white;
font-weight:500;
}


.hero h1{
font-size:60px;
letter-spacing:1px;
}

.btn{
margin-top:20px;
padding:12px 25px;
background:gold;
color:black;
text-decoration:none;
font-weight:600;
}

.section{
padding:80px 15%;
text-align:center;
}

.dark{
background:black;
color:white;
}

.grid{
display:flex;
gap:30px;
justify-content:center;
margin-top:40px;
}

.card{
border:1px solid gold;
padding:25px;
width:250px;
}

.why{
list-style:none;
padding:0;
}

.why li{
margin:15px 0;
font-weight:500;
}

footer{
background:black;
color:white;
text-align:center;
padding:20px;
}

.hero{
height:100vh;

background:
linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.55)),
url("images/hero.jpg");

background-size:cover;
background-position:center;

color:white;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
margin-bottom:15px;
}
.slider{
padding:100px 8%;
background:black;
text-align:center;
color:white;
}

.slider h2{
margin-bottom:40px;
font-size:32px;
}

.slides{
display:flex;
gap:30px;
overflow-x:auto;
scroll-snap-type:x mandatory;
padding-bottom:20px;
}

.slides::-webkit-scrollbar{
height:8px;
}

.slides::-webkit-scrollbar-thumb{
background:#d4af37;
border-radius:10px;
}

.slides img{
width:350px;
height:230px;
object-fit:cover;
border-radius:12px;
scroll-snap-align:center;
transition:transform 0.4s ease, box-shadow 0.4s ease;
}

.slides img:hover{
transform:scale(1.05);
box-shadow:0 10px 30px rgba(212,175,55,0.5);
}

html{
scroll-behavior:smooth;
}

